<h1 class="text-danger text-center">404 - Page Not Found</h1>

<p class="text-center">
    Oops... la página que estás buscando no existe o fue movida.
</p>

<div class="text-center mt-4">
    <a href="/EventEaseApp.github.io/register" class="btn btn-primary">Volver al inicio</a>
</div>

