<h1 class="text-danger text-center">404 - DONDE VAAAAAAAAAS</h1>

<p class="text-center">
    Oops... la página que estás buscando no existe o fue movida.
</p>

<div class="text-center mt-4">
<a href="https://charlydob.github.io/EventEaseApp.github.io/#/Pages/register" class="btn btn-primary">Volver al inicio</a>
</div>

